body.vscode-light, body.vscode-dark, body.vscode-high-contrast {
    --background: var(--vscode-editor-background);
    --foreground: var(--vscode-editor-foreground);
    --alt-background: var(--vscode-editorGroupHeader-tabsBackground);
    --border: rgba(0,0,0,.25);
    --alt-border: rgba(0,0,0,.2);
    --red: var(--vscode-terminal-ansiBrightRed);
    --dark-red: var(--vscode-terminal-ansiRed);
    --green: var(--vscode-terminal-ansiBrightGreen);
    --blue: var(--vscode-terminal-ansiBrightBlue);
    --light-blue: var(--vscode-terminal-ansiBrightCyan);
    --purple: var(--vscode-terminal-ansiBrightMagenta);
    --orange: var(--vscode-terminal-ansiBrightYellow);
    --brown: var(--vscode-terminal-ansiYellow);
    --grey: var(--vscode-terminal-ansiBrightBlack);
}
